.login-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.login-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 30rem;
  background-color: #f0f0f0;
}

.login-title {
  color: #111;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.login-error {
  color: #dc2626;
  font-size: 0.8rem;
  margin-top: -1.25rem;
}