* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  background-color: #ffffff; /* Fundo Branco */
  color: #111111; /* Texto Preto */
}

a {
  color: inherit;
  text-decoration: none;
}
