.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* Garante que não encolha */
}

/* --- Perfil do Usuário (Topo) --- */
.user-profile {
  padding: 1rem 1.5rem;
  height: 70px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}
.user-profile:hover {
  background-color: #f9f9f9;
}

.avatar-icon {
  font-size: 1.2rem;
  color: #3b82f6; /* Azul */
}

.user-info {
  flex: 1;
  font-weight: 600;
  font-size: 0.95rem;
  color: #111;
}

.arrow-icon {
  font-size: 0.8rem;
  color: #999;
}

/* --- Navegação --- */
.nav-list {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1.5rem;
  color: #444;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #f5f5f5;
  color: #000;
}

.nav-item.active {
  background-color: #f0fdf4; /* Fundo verde bem claro */
  color: #16a34a; /* Texto verde */
  border-right: 3px solid #16a34a;
}

/* Ícones (Simulando as cores da imagem) */
.nav-icon {
  font-size: 1.1rem;
  width: 20px;
  text-align: center;
}

/* Cores específicas para os ícones se quiser imitar a imagem */
.icon-recent {
  color: #ef4444;
} /* Vermelho */
.icon-users {
  color: #3b82f6;
} /* Azul */
.icon-customers {
  color: #eab308;
} /* Amarelo */
.icon-machines {
  color: #dc2626;
} /* Vermelho escuro */
.icon-services {
  color: #64748b;
} /* Cinza azulado */
.icon-engines {
  color: #475569;
} /* Cinza escuro */

.dropdown {
  display: flex;
  flex-direction: column;
  background: #fcfcfc;
  border: 1px solid #ccc;
  z-index: 10;
}

.dropdown button {
  border: 0px;
}

.form-error {
  color: #dc2626;
  font-size: 0.8rem;
}